@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none; /* Importante: quita el límite de ancho por defecto de Vue */
  display: block;
}